# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Flask
instance/
*.log

# Environment variables
.env
.env.*

# Database
*.sqlite3
*.db

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Tests
.pytest_cache/

# Migrations
migrations/
